[2017-03-18 10:22] cococmantikka opened #1 "Double Click"
A Add-on to display meanings of the words selected in any web page.

[2017-03-18 10:28] iamVP7 commented on #1
Can you edit and give detail description and shortern your add-on name

[2017-03-18 10:33] akshaykumar96 opened #2 "YouTube to MP3 Converter"
Convert Youtube videos in Mp3 Format without leaving the Youtube page.

https://chrome.google.com/webstore/detail/youtube-to-mp3-converter/abhdmghdmjjbkahpebhjdofmcljkljbk

[2017-03-18 10:34] joshuajacob1114 opened #3 "date2calendar"
How it works?
Double Click on a date of an event on a webpage, which will automatically store its relevance in the calendar as a reminder in the future.

[2017-03-18 10:36] Balaji2198 opened #4 "Sticky notes"
Easiest way for taking notes

https://chrome.google.com/webstore/detail/sticky-notes-just-popped/plpdjbappofmfbgdmhoaabefbobddchk

[2017-03-18 10:41] swathigopal opened #5 "YOGA MASTER"
Customize your New Tab page and learn to practise yoga with images of various poses with the Yoga Master New Tab for Chrome

[2017-03-18 10:49] reminaagnes opened #6 "blind director"
this addon is useful for the blind people to guide them in reaching their home safely.

[2017-03-18 10:54] swarnapriyakailasam opened #7 "mobile measuring device"
This addon helps the people to measure the distances they travel using mobile phone cameras

[2017-03-18 10:55] iamVP7 commented on #3
Hey @joshuajacob1114

which webpage you will be double clicking, be specific because each page is very different to scrape generically.

And in which calendar you will be storing just a doubt

[2017-03-18 10:56] Swathidivya opened #8 "Translator"
Translates each and every hindi words into English or Tamil..
With a common man understable....

[2017-03-18 11:06] reminaagnes commented on #8
its just kind of a dictionary

[2017-03-18 11:11] iamVP7 commented on #8
@Swathidivya  will you be using any transaltor or words will be predefined.

[2017-03-18 11:11] reminaagnes opened #9 "diet scheduler"
It is used to schedule the timing for workouts(with specific workouts)/food(type of food) depending on the person's height/weight.

[2017-03-18 11:15] iamVP7 commented on #7
@swarnapriyakailasam  sorry to say, we are targeting only desktop can you rethink

[2017-03-18 11:18] iamVP7 commented on #6
@reminaagnes  we are targeting only the desktop browser. I hope there is dependency of mobile here. Can you rethink.

[2017-03-18 11:19] iamVP7 commented on #5
Is this https://chrome.google.com/webstore/detail/my-yoga-pose/ioehiikndhkafeklhjhgdphaekhjpdje/related  ??

[2017-03-18 11:20] iamVP7 commented on #2
@akshaykumar96  this is nice idea. I think it will take more than a day to try. Can we run something easily ?

[2017-03-18 11:40] swarnapriyakailasam opened #10 "to do note with reminder"
here we can mention our daily activities or any important note to be reminded.alarms can be set as notifications.

[2017-03-18 11:45] DaniyalRasheed opened #11 "PassAlert"
[https://chrome.google.com/webstore/detail/password-alert/noondiphcddnnabmjcihcjfbhfklnnep?utm_source=chrome-ntp-icon](url)

Most of the internet user don't know that whether they put their personal
information in the secure website and its secure or not .This Addon will such users

This addon will help the user to protect their personal information from
phishing(non-official) and non-secure websi

[2017-03-18 11:49] ssaimanjunath opened #12 "News Feed on New Tab"
Generating News Feeds on Opening of new tabs. Generally we get Recent Apps or Mostly Visited Websites. Here we design an add-on to display News Feeds on Opening of New Tabs.

[2017-03-18 11:49] ram-sankar opened #13 "Instant Dictionary"
desc : my extension is about getting the meaning of a word without opening a new tab.
i.e if u select a word and hover over it then my extension will show the meaning of it.

https://chrome.google.com/webstore/detail/urban-dictionary-instant/iphhinkkgcndibcnabdcfcianhebblmb

[2017-03-18 11:50] yogitha05 opened #14 "speedtest notification"
when the Internet connection is slow this app automatically tests the speed of the internet and notifies the user.

[2017-03-18 12:16] ParkaviRajanbabu opened #15 "Identification and modification of Fonts"
A very simple method to identify and modify in any web pages

[2017-03-18 12:20] joshuajacob1114 commented on #3
Regarding "which webpage you will be double clicking, be specific because each page is very different to scrape generically."

Ans.)_The webpage can be anything I presume. For Eg. I am interested in only the date of an event, so rather than jotting down the date of an event/meeting/or any important day on a piece of paper, I thought by a double click function on the date format as dd/mm/yy will be

[2017-03-18 12:28] Swathidivya commented on #8
words will be predefined at first itself...

[2017-03-18 12:29] RudrThakur opened #16 "Text Only Add on"
/* For slow data connections
Enabling this add on restricts the running of img tags irrespective of their role in the web page
so that the webpage can be loaded faster

/* Alternate Data Saver
Bandwidth used will also be less because of no images on the webpage

/*ACTUALLY ALREADY ITS AVAILABLE ON UC BROWSER */ as "text-only"
LINK - Can't find link ( If anyone gets post it as a comment )

/*ALSO A

[2017-03-18 12:30] RudrThakur opened #17 "Insecure Gateway Detector"
/*It detects instability in the current network */

Enabling this add- on alerts the user not to proceed to a gateway because their may be a chance of session timing out throughout the transaction .

/* Advantages */

   - Reduces the risk of getting screwed by the Hackers sniffing around the gateways .
   - Better transaction experience

/* HOW DOES IT WORK */

  -  Sends alert to the user not to

[2017-03-18 12:34] sharmi12 opened #18 "time calculation"
To create a add on for  work time and sleep time
To avoid health issues
Set fixed work time calculation of 7 hours from current time
Set fixed sleep time calculation of 8 hours from current time

[2017-03-18 12:37] rittikakamaraj opened #19 "automatic wishes"
type a message and set a timer
it will automatically send the message according to the timer

[2017-03-18 12:46] praveenamanivannan opened #20 "Time table"
save the time table in PC and reminding  before going to college.

[2017-03-18 13:10] sharmi12 commented on #18
@iamVP7 provide documentation for alarm tab close new tab

[2017-03-18 14:12] iamVP7 commented on #18
Alarm https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/alarms

Tabs https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs

[2017-03-18 14:13] iamVP7 commented on #19
Just would like to know in which platform we will send the messages.. for timer checking alarm API https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/alarms

[2017-03-18 14:13] iamVP7 commented on #20
Check https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/alarms if this ll help

[2017-03-18 14:14] iamVP7 commented on #15
Can u ping in telegram

[2017-03-18 15:54] rittikakamaraj commented on #19
we will use this in gmail...we can send wishes through gmail by setting the timer

[2017-03-19 04:46] RudrThakur commented on #16
/* THE PROPOSED ADD ON FOR MOZILLA FIREFOX WAS SUCCESSFULLY DESIGNED */

/*Tested by me */

contains the following two files

1. manifest.json
2.content_script.js

THE DESIGNED ADD ON does what ?

- open the website : "www.photobucket.com" in nightly mozilla
- again open the same website in another web browser
- Notice that all the pictures are shown in other web browser but nothing is shown in mo

[2017-05-15 17:39] Mte90 opened #21 "Facebook for HiDPI screens"
Facebook on high resolutions is very uncomfrotable si I was thinking that an extension that change font size and improve the view can be helpful.

[2017-05-16 09:57] Mte90 commented on #15
uhm developers tool show what is the webfont and is very easy to change using the inspector so I think that can be closed.

[2017-05-16 09:58] Mte90 commented on #13
where is that extension on github? probably can be uploaded very easily on amo

[2017-05-24 09:24] Mte90 opened #22 "Facebook Page manager helper"
As example you can share the post of your fb page in the same page and often many do that error because they don't switch the user that they are using.
In my mind an alert to remember to use the right user will be very important

[2017-06-01 05:29] viswanathamsantosh opened #23 "Automatically adjust brightness"
I use webapps for most of the social networkings sites where i spend most of the time. An addon which uses the ambient light sensor on mobile and adjust the brightness automatically on the browser.

It is vague for now but may be we can do this later.

[2017-06-01 05:31] viswanathamsantosh opened #24 "Addon which reminds me to drink water"
Takes the input of number of hours i would be awake and amount of water i should take. Constantly reminds me to drink water.

[2017-06-01 05:36] viswanathamsantosh opened #25 "Addon which shows all my most visited websites on a popover in browser action"

[2017-06-12 14:42] Mte90 commented on #24
it is not better a desktop applications for this?

[2017-06-15 07:24] viswanathamsantosh opened #26 "'Did you know' add-on"
Addon which gives us a fact everyday with a push notification

[2017-06-23 12:13] tsl143 commented on #10
https://addons.mozilla.org/en-US/firefox/addon/todo/
Still just todo, I will try to add reminder functionality in next Iteration.

[2017-06-23 12:36] iamVP7 commented on #24
When i work only in browser a notification + logging of time i drank will be great if it is in browser itself

[2017-06-29 05:07] devcer commented on #24
I'm working on this idea. Might have a stable extension by this sunday.

[2017-06-29 05:59] tsl143 commented on #25
Looks good, I am planning to work on this, using indexedDB
So that I can help https://github.com/mdn/webextensions-examples/issues/119 too.

[2017-06-30 15:40] devcer commented on #24
I have a first version of this add-on.

https://github.com/viswanathamsantosh/hydrator

[2017-07-06 23:02] caitmuenster commented on #24
Arg -- this might be me having technical difficulties but I wasn't able to install the add-on in Nightly because the "file was corrupt." Has anyone else been able to install this successfully?

[2017-07-07 03:49] devcer commented on #24
Just now tested on 55.0b6 ! Which version were you testing on caitlin?

PS: updated some code for testing(15mins will be 30 seconds)

[2017-07-07 04:00] iamVP7 commented on #24
I checked and used the source code shared by Santhosh. Worked for me. I use nightly

[2017-07-07 22:01] caitmuenster commented on #24
So sorry! This was definitely user error. I have it installed now and it's reminding me to drink water!

[2017-07-08 02:43] tsl143 opened #27 "Papier - from chrome"
Make an addon similar to Papier from chrome.
The addon captures the home page and new tab.
Gives a whiteboard where you can write anything.
This will be saved and will be shown everytime you open browse or new tab.

<img width="1276" alt="screen shot 2017-07-08 at 8 12 57 am" src="https://user-images.githubusercontent.com/5318732/27982015-491247d8-63b5-11e7-8067-f246c15261b5.png">

[2017-07-08 02:47] tsl143 commented on #27
Made and got approved one :)
https://addons.mozilla.org/en-US/firefox/addon/board/

<img width="1279" alt="screen shot 2017-07-08 at 8 14 35 am" src="https://user-images.githubusercontent.com/5318732/27982028-852f97de-63b5-11e7-8c1a-18c6d29aadbd.png">

[2017-07-08 02:47] #27 closed

[2017-07-08 05:09] devcer commented on #2
Is there any similar addon on chrome webstore? Cz this would be a direct violation against youtube for modifying the content.

[2017-07-08 05:38] tsl143 commented on #2
We have something like
website - http://keepvid.com/
third party extension - http://addoncrop.com/youtube-to-mp3-converter-direct/

[2017-07-08 05:38] tsl143 commented on #2
In addition we have youtube downloader addons already which downloads complete video in all formats.

[2017-07-08 05:41] viswanathamsantosh opened #28 "Disable autoplay of videos using an add-on"
Not sure if we have this. If didn't found similar addon then i will start working on this.

[2017-07-08 07:25] tsl143 commented on #2
In addition we have youtube downloader addons already which downloads complete video in all formats.

[2017-07-18 18:51] MichaelKohler opened #29 "Reps Council: List all "Feedback needed" task in Panel"
For the Reps Council to be more efficient, it would be great to have a WebExt with a panel to view all Reps issues that currently need Council input.

This is the following GitHub query: https://github.com/mozilla/reps/issues?q=is%3Aissue+is%3Aopen+label%3A%22Council+Feedback+Needed%22 (mozilla/Reps repo, all open issued tagged with the "Council Feedback Needed" label).

I see two possible ways to

[2017-07-18 20:38] soapdog commented on #29
working on it.

[2017-07-18 21:48] soapdog commented on #29
Initial version available at: https://github.com/soapdog/webextension-reps-feedback-needed, **be aware that there is a bug in Firefox Nightly 56.0a1 (2017-07-18) (64-bit) on Windows 10 that prevents the add-on CSS from loading**, it works as expected on Dev Edition.

Screen capture from sample session below:
![reps-feedback](https://user-images.githubusercontent.com/23247/28341345-aca07e64-6be9-11

[2017-07-18 21:53] MichaelKohler commented on #29
Great! Will test tomorrow and maybe you'll get a PR :) Definitely a nice PoC version anyway. Thank you!

[2017-07-29 09:04] chandrakanthkallu opened #30 "instant calculator"
we can use calculator with out moving away from the browser.

[2017-07-29 09:08] Keerthana2811 opened #31 "Time remainder"
I want the add-on to take input from the user the time interval for which the user needs a time remainder.

[2017-07-29 09:09] rohit2905 opened #32 "Translation of language"
easy translation of language with one click

[2017-07-29 09:10] chandrakanthkallu opened #33 "Time remainder"
Shows the amount of time that you are on a browser and remind you in respective intervals.

[2017-07-29 09:12] AY17 opened #34 "INCOGNITO"
When you click on addon it should ask for password then it should show set of websites you want to visit and when turn off addon it show clear cookies and all the browsing history

[2017-07-29 09:12] nikitha5797 opened #35 "memory storage"

[2017-07-29 09:14] rohit2905 opened #36 "Download videos by using the web address of respective video"
just paste the link of the video you want to download

[2017-07-29 09:14] nikitha5797 opened #37 "bmi calculator"

[2017-07-29 09:14] Keerthana2811 opened #38 "Automatic Lyrics Display"
I want the add-on to display lyrics when a song is played.

[2017-07-29 09:15] GSSwetha opened #39 "when browsing on mobile by a addon the webpage should be shared to laptop"

[2017-07-29 09:16] Keerthana2811 opened #40 "Automatic Songs Playlist"
I want the add-on to play a customized playlist of songs.

[2017-07-29 09:16] GSSwetha opened #41 "addon for a recently closed tabs"

[2017-07-29 09:17] rohit2905 opened #42 "Automatic schedule informer"
enter your day schedule and your add on displays it on time

[2017-07-29 09:17] Alimi-Sandeep opened #43 "Relaxation"
I want to make an add-on that should display a window on screen if we browse for an one hour that consists of timer for 2min.In that 2 min if we forcefully do to continue the work, the timer should start again from 2min.The popup window should consist of timer and a nature photo and some pleasant music which makes us to relax.

[2017-07-29 09:19] MAALIKAB opened #44 "whenever a new product is added into the onlinewebsites we need to get an popup whenever we open our browser"

[2017-07-29 09:20] #44 closed

[2017-07-29 09:20] alekhyamateti opened #45 "display the internet speed"
While using a browser, by clicking on the add-on, the internet speed must be displayed instead of going to speedtest.net all the time

[2017-07-29 09:28] roragi opened #46 "how's your health!?"
hi there!
this is for the people who work in the companies.
they often forget to take care of their health,specially for the people who suffer from diabetes.
so....what if we create a add-on to remind them of their diet or to have their medicine.

[2017-07-29 09:32] manisha971 opened #47 "prevent the virus attacking"
prevent the virus attacking webpages to display, when we download any application .This protects our system from virus

[2017-07-29 09:33] roragi commented on #46
hi there...this is for the people who spend much of their time in front the computer .. they dont realize how much they are straining their eyes ...so we needed an addon to remind them every half an hour to give rest to their eyes for atleast half a minute.

[2017-07-29 09:34] SushmaGajula opened #48 "Control over slides on the website"
When we are viewing some picture slides or news slides on the website, then we should be able to pause the slide by pressing any key and could play it again by pressing the same key

[2017-07-29 09:36] meenabhargavi opened #49 "To get the total no:of tabs opened in window and to show the notifications of which tabs are working active and lazy"

[2017-08-15 18:30] gwpl commented on #38
Sounds like potential integration with https://www.musixmatch.com/ ?

[2017-08-22 16:12] baranitharan2020 opened #50 "Simple-online-song-controller"
While using more than 15-20 tabs, It'll be take time to find the Song tab and we have to change by clicking the icon.
If we creating an API to change a song,while we are in any tab will be simple and effective for all users.

[2017-08-22 16:29] RCMainak opened #51 "360 degree image downloader for facebook and twitter"
I don't what the licensing policies of those websites are but it'll an awesome add-on.

Facebook and twitter is where thousands creators share their work. If we could reuse those work, it'll be awesome.

Not yet convinced let me share a [facebook post](https://www.facebook.com/cneistat/photos/a.219413031430032.46161.210351389002863/1075440499160610/?type=3&theater) with you

[2017-08-23 04:47] iamVP7 commented on #50
Can u explain a bit more.. whether it's add-on or API. And can u share examples of the websites you trying

[2017-09-16 10:15] Keerthana2811 commented on #38
Yeah...probably!

[2017-09-28 17:43] Mte90 opened #52 "Simplify the Github interface"
As the project abandoned and never finished https://github.com/OpenMatt/GitDone can be helpful to simplify the github interface to people that is not a dev like using more comfortable terms or hiding stuff

[2017-09-28 17:44] Mte90 commented on #29
The extension is on AMO?

[2017-09-29 14:04] devcer commented on #29
I don't think so. since it is made for Reps council and not end user specific, there was a discussion on telegram and finally decided not to publish it. Do you think andre should publish it?

[2017-09-29 14:07] Mte90 commented on #29
Maybe it is possible to do for all the waffle users in any case I think that issue can be closed at this point because the extension exist

[2017-09-29 14:07] Mte90 commented on #28
I think that actually Firefox do it automatically

[2017-09-29 15:00] caitmuenster commented on #29
The user base for this is probably too specific for listing on AMO, but you should definitely encourage members of the Reps Council to sideload it.

Also, nicely done @soapdog!

[2017-10-04 22:04] soapdog commented on #29
@Mte90 AMO reviewer rejected the extension. We can always sign it and release it here on Github if people think this is a good idea.

[2017-10-04 22:04] soapdog commented on #29
@caitmuenster thanks a lot for the kind words 😻

[2017-10-04 22:59] MichaelKohler commented on #29
@soapdog please do, as long as we don't need to install it every time we restart the browser, I'm happy

[2017-10-06 19:15] soapdog commented on #29
@MichaelKohler I will, just give me some days to sort it out. I will add the signed version to the releases tab on github.

[2017-10-09 05:35] devcer commented on #45
Created an empty repo< https://github.com/firefox-addons/speed-checker >. will be pushing a sample code and host it under hacktoberfest.

[2017-10-11 02:28] tsl143 commented on #50
@baranitharan2020, can you put more information to this.
Do you want a generic song controller, for any website, or just for youtube?
We already have addon controlling youtube. https://addons.mozilla.org/en-US/firefox/addon/simple-youtube-controller/

[2017-10-11 02:29] tsl143 commented on #49
@meenabhargavi , thanks for input.
It will be helpful if you can explain -
- working active tabs
- lazy tabs

[2017-10-11 02:34] tsl143 commented on #48
@SushmaGajula, thanks for input.
We need a bit more insights for this.
Can you help us with examples of website in which you want to stop slides.
As flickr (for example) has already auto and manual slide options.

[2017-10-11 02:36] tsl143 commented on #47
@manisha971 , this is very generic and very broad category.
There are several addons already under security category [https://addons.mozilla.org/en-US/firefox/extensions/privacy-security/](Security addons).
If you feel this is different please feel free to reopen this.
Thanks for inputs.

[2017-10-11 02:36] #47 closed

[2017-10-11 02:44] tsl143 commented on #46
@roragi, do you want to work on this.
You can refer to https://github.com/tsl143/jsDemos/tree/master/todo_webext
See it working here - https://addons.mozilla.org/en-US/firefox/addon/todo/

[2017-10-11 02:47] tsl143 commented on #43
@Alimi-Sandeep thanks for input,
https://addons.mozilla.org/en-US/firefox/addon/tomato-clock/, this does almost similar thing, it has various options for time slots, also it displays graphs of all your breaks.
Is this the thing you want?

[2017-10-11 02:50] tsl143 commented on #42
@rohit2905 we already have something like this
https://addons.mozilla.org/en-US/firefox/addon/reminders/

[2017-10-11 02:50] #42 closed

[2017-10-11 02:51] tsl143 commented on #40
@Keerthana2811, for an addon , this need more info.
Are we talking about a specific website on which we need to play music?

[2017-10-11 02:53] tsl143 commented on #39
we do vice versa of this - send page from desktop to mobile.
There we use sync service. This will be an awesome enhancement.

[2017-10-11 02:55] tsl143 commented on #41
We already have this functionality History > Recently closed tabs

[2017-10-11 04:50] devcer commented on #41
Yup. may be extracting them and displaying on a popover?

[2017-10-11 04:52] devcer commented on #41
Cause clicking on recently closed tabs is opening all the recently closed websites into multiple tabs.

[2017-10-11 05:31] tsl143 commented on #41
@viswanathamsantosh, will you mentor this?

[2017-10-11 06:04] devcer commented on #41
Yup! sure.

[2017-10-11 06:04] devcer commented on #41
We have a repo for this addon https://github.com/firefox-addons/iClosed

[2017-10-11 10:00] tsl143 commented on #36
We already have this addon - https://addons.mozilla.org/en-US/firefox/addon/video-downloader-profession/

Feel free to reopen, if there is something different

[2017-10-11 10:00] #36 closed

[2017-10-11 10:01] tsl143 commented on #37
We already have this addon - https://addons.mozilla.org/en-US/firefox/addon/bmi-score-calcalculator/

Feel free to reopen, if there is something different

[2017-10-11 10:01] #37 closed

[2017-10-11 10:02] tsl143 commented on #38
Also look at https://addons.mozilla.org/en-US/firefox/addon/1-click-lyrics-search/

[2017-10-11 10:02] tsl143 commented on #35
Not a valid issue.

[2017-10-11 10:02] #35 closed

[2017-10-11 10:03] tsl143 commented on #34
We have FOCUS :)

[2017-10-11 10:04] tsl143 commented on #30
We already have https://addons.mozilla.org/en-US/firefox/addon/calculator-online/

Please feel free to reopen in case you think different

[2017-10-11 10:04] #30 closed

[2017-10-11 10:05] tsl143 commented on #31
We already have https://addons.mozilla.org/en-US/firefox/addon/tomato-clock/

Please feel free to reopen in case you think different

[2017-10-11 10:05] #31 closed

[2017-10-11 10:05] tsl143 commented on #32
We already have https://addons.mozilla.org/en-US/firefox/addon/google-translator-lite/

Please feel free to reopen in case you think different

[2017-10-11 10:05] #32 closed

[2017-10-11 10:06] tsl143 commented on #33
We already have https://addons.mozilla.org/en-US/firefox/addon/tomato-clock/

Please feel free to reopen in case you think different

[2017-10-11 10:06] #33 closed

[2017-10-11 10:11] tsl143 commented on #28
@viswanathamsantosh, Does this helps https://addons.mozilla.org/en-US/firefox/addon/simple-youtube-controller/

[2017-10-11 10:13] devcer commented on #24
The add-on is being built and published to AMO< https://addons.mozilla.org/en-US/firefox/addon/hydrator >

[2017-10-11 10:13] #24 closed

[2017-10-11 10:15] tsl143 commented on #23
@viswanathamsantosh , https://addons.mozilla.org/en-US/firefox/addon/page-shadow/ something similar?

[2017-10-11 10:19] tsl143 commented on #20
@iamVP7, can you mentor this?

[2017-10-11 11:24] iamVP7 commented on #20
If anyone interested, i ll be happy to do.

[2017-10-11 11:37] tsl143 commented on #18
@sharmi12 does any of following fits in your criteria?
- https://addons.mozilla.org/en-US/firefox/addon/tomato-clock/
- https://addons.mozilla.org/en-US/firefox/addon/reminders/

[2017-10-11 11:39] tsl143 commented on #19
@rittikakamaraj , gmail already has this feature
https://www.labnol.org/internet/schedule-gmail-send-later/24867/

In case if there is something different, please feel free to reopen this.

[2017-10-11 11:39] #19 closed

[2017-10-11 11:40] tsl143 commented on #16
So its already built, so closing this

[2017-10-11 11:40] #16 closed

[2017-10-11 11:41] tsl143 commented on #15
closing on this context

[2017-10-11 11:41] #15 closed

[2017-10-11 11:42] tsl143 commented on #14
Popular websites, like facebook, gmail already implement that.
Closing this, in case you differ please feel free to reopen.

[2017-10-11 11:42] #14 closed

[2017-10-11 11:43] tsl143 commented on #14
Also there is addon being built for speed check
https://github.com/firefox-addons/speed-checker

[2017-10-11 11:45] tsl143 commented on #11
@DaniyalRasheed we need more information on this, like whats criteria of non secure websites, because firefox already gives notification while entering data on `non-https` website.

[2017-10-11 11:45] tsl143 commented on #10
https://addons.mozilla.org/en-US/firefox/addon/reminders/

[2017-10-11 11:45] #10 closed

[2017-10-11 11:47] tsl143 commented on #9
@reminaagnes @iamVP7
Can it be more generalized and any of following can be used?

- https://addons.mozilla.org/en-US/firefox/addon/reminders/
- https://addons.mozilla.org/en-US/firefox/addon/todo/

[2017-10-11 11:48] tsl143 commented on #8
https://addons.mozilla.org/en-US/firefox/addon/google-translator-lite/, solves same purpose.

[2017-10-11 11:48] #8 closed

[2017-10-11 11:49] tsl143 commented on #7
Not in scope, also this can be done via GPS instead

[2017-10-11 11:49] #7 closed

[2017-10-11 11:49] tsl143 commented on #6
Not in scope.

[2017-10-11 11:49] #6 closed

[2017-10-11 11:51] tsl143 commented on #5
This one sounds interesting, I will pick this up.
@swathigopal, can you help me with some APIs where I can fetch yoga poses data

[2017-10-11 11:52] tsl143 commented on #4
We have already something for this
- https://addons.mozilla.org/en-US/firefox/addon/sticky_notes/
- https://addons.mozilla.org/en-US/firefox/addon/floating-sticky/

[2017-10-11 11:52] #4 closed

[2017-10-11 11:59] tsl143 commented on #3
We can do something as following
- select any date on any page.
- right click and add to calendar.
- open popup, add date, add msg and save
- in background, save in storage and create an alarm with notification.

What say @iamVP7 @joshuajacob1114

[2017-10-11 12:00] tsl143 commented on #1
@cococmantikka following addon solves same purpose hence closing
https://addons.mozilla.org/en-US/firefox/addon/dictionary-anywhere/

[2017-10-11 12:00] #1 closed

[2017-10-11 12:03] tsl143 commented on #13
We have something similar that too with translation
https://addons.mozilla.org/en-US/firefox/addon/dictionary-anywhere/
hence, closing this.

[2017-10-11 12:03] #13 closed

[2017-10-11 12:04] tsl143 commented on #12
@ssaimanjunath can you help us with few APIs which provide that data?

[2017-10-11 14:45] devcer commented on #3
and may be use google calendar API to add the same to my gcal!

[2017-10-11 14:46] devcer commented on #6
All the computers are already integrated with accessibility tools(eg: voiceover for ios)  which will work with all applications so add-on is not required.

[2017-10-11 14:56] devcer commented on #23
This add-on enables the night mode on a website but I was thinking of something like Android App "nightmode" where you could control the brightness of the screen.

[2017-10-11 14:57] devcer commented on #28
Yes. but may be we can extend it to all HTML5 video players? Let me have a look at this.

[2017-10-14 10:03] Mte90 opened #53 "ODF viewer"
The idea is an extension that check that the url in the bar contain an ODF format and use https://github.com/kogmbh/ViewerJS to show the file itself in the browser.
The question is to chance also the behaviour of the browser when find this formats and ask to see in the browser or download it.

[2017-10-16 09:42] tsl143 commented on #2
Guys I stumbled upon https://addons.mozilla.org/en-US/firefox/addon/easy-youtube-video-download

This downloads youtube videos in almost all necessary formats including mp3.

Hence closing this.

[2017-10-16 09:42] #2 closed

[2017-10-26 15:09] Mte90 opened #54 "accessibilityjs as extension"
https://github.com/github/accessibilityjs

[2017-11-07 01:07] tiagomoraismorgado opened #55 "create a firefox binding to Opera free vpn"
create a firefox binding to Opera free vpn

[2017-11-07 01:13] tiagomoraismorgado opened #56 "create several extensions for enhancing users content access"
**i think it would be nice to:**
- *create several extensions for enhancing users content access*
- *this could cover a wide variety of topics*

[2017-11-07 06:45] tiagomoraismorgado opened #57 "create an extension for integrating sophos cloud protection straight into mozilla, without having to install sophos on your computer"
## create an extension for integrating sophos cloud protection straight into mozilla, without having to install sophos on your computer

**it would be interesting to implement the following:**
- *an extension for integrating sophos cloud protection straight into mozilla, without having to install sophos on your computer*

---

**this would be great for many reasons, including among other ones:**
-

[2017-11-07 07:07] devcer commented on #54
sounds interesting. I would like to work on this!

[2017-11-07 07:24] tiagomoraismorgado opened #58 "creating an addon for improving the youtube browsing experience"
## creating an addon for improving the youtube browsing experience

**I would personally suggest to:**
- *create an addon for improving the overall youtube browsing experience*

---

**this may include but not only:**
- *the option of getting better recommendations based on a database of high quality content cookies, stored, or downloaded straight from the addon or instantated every time you run i

[2017-11-07 07:33] tiagomoraismorgado opened #59 "creating an addon for making automatic data visualization of browser usage"
## creating an addon for making automatic data visualization of browser usage

**from my point of sight it would be interesting to create an addon that would allow to:**
- *creating an addon for making automatic data visualization of browser usage*

---

**this could and should including several statistical data ranging from:**
- *cookies extracted data*;
- *time spent on each site*
- etc, etc, et

[2017-11-07 08:47] tiagomoraismorgado opened #60 "creating an extension for data visualization of github accounts"
## creating an extension for data visualization of github accounts

**it would be really interesting to:**

- *create a browser based extension for data visualization of GitHub accounts*

---

**it would be interesting if it could provide in-depth data and not only some superficial analysis. the following frameworks could be used in its implementation:**

- *google tensorflow*
- *uber deck.gl*

--

[2017-11-07 09:12] freaktechnik commented on #39
You can also do this with sync from mobile, by sharing a page with Firefox and selecting a device to send to on Android. Not sure how it'd work on iOS.

[2017-11-07 09:40] Mte90 commented on #60
Can you explain better? Actually the profiles on github as already a data visualization

[2017-11-07 11:27] tiagomoraismorgado opened #61 "extension for enhancing cognitve performance for programming through sound"
## extension for enhancing cognitve performance for programming through sound

**it would be interesting if we could:**

- **create an extension for enhancing cognitve performance for programming through sound**

---

**there are already few examples on that regard but none is particularly good**

---

<img src="https://pbs.twimg.com/profile_images/821735271049768960/jJZXlJwZ.jpg" width="50"></img

[2017-11-07 14:13] ghost commented on #60
**i mean the degree of depth of the tools for data visualization available both in and outside of github are not efficient:**

- *you cannot measure quality of commit and PRs*
- *you cannot measure real depth of contribution, as many of them only follow simple statistical data*

**Instead, I think it would be relevant to:**

- *to use tensorflow to match user profiles (i.e.: technology hunters for

[2017-11-07 14:26] Mte90 commented on #60
Maybe for that is better a service with an extension, tensorflow require a server and an extension is not the best place for that like for analyze quality of code.

[2017-11-07 14:51] ghost commented on #60
**well anyways i just wanted to share it with mozilla, because I think it's a relatively interesting thing an I am more fond of DIWO then DIY**

[2017-11-07 16:54] Mte90 commented on #60
I am actually using codacy for that that is free for open source projects but the object of this ticket is probably over then the purpose of this repo that is to gather idea for new extension made by the community.

[2017-11-08 21:13] tiagomoraismorgado opened #62 "creating extension for collecting audio radio streams from all the globe and listening to them"
#### creating extension for collecting audio radio streams from all the globe and listening to them

# Greetings

**It would be extremely interesting, if within sense, we could:**
- *create an extension for collecting and broacasting radio and television streams from all over the world*
- *a good option would be getting an astra similar free streaming to stream freely through the internet and bind

[2017-11-09 18:49] tmm2018 opened #63 "making a game engine based on mozilla frontend"
## making a game engine based on mozilla frontend

**in my perspective, it would be interesting to create a game engine/game editor, integrated within the mozilla frontend. in my point of sight:**
- *it should be highly costumizable*
- *it should be extremely easy easy to use*
- *it should allow to easily build VR/AR/XR experiences*

---

<img src="https://orig00.deviantart.net/5b95/f/2016/070/3/b

[2017-11-09 19:02] ghost commented on #60
well i am trying it. and although it's an awesome tool it think we are still talking about different things

[2017-11-09 22:47] tmm2018 opened #65 "frontend extension for IFTTT"
frontend extension for IFTTT

[2017-11-10 17:44] tmm2018 opened #66 "creating a system based on firefox for providing internet for the third world"
## creating a system based on firefox for providing internet for the third world

**it would be nice to:**
- *using a system to provide internet for the third world (africa, etc.)*

---

**ideally:**
- *we can take advantage of proxification techniques, satellite transmission, and basic criptographic techniques*

---

**a good way to do so would be:**
- *people have the chance to install a plugin

[2017-11-11 16:19] tmm2018 opened #67 "github for musicians"
github for musicians

[2017-11-11 16:19] tmm2018 opened #68 "github for designers"
github for designers

[2017-11-11 16:19] tmm2018 opened #69 "github for game developers"
github for game developers

[2017-11-11 17:31] tsl143 commented on #69
@tmm2018, can you please elaborate this a bit more :)

[2017-11-11 17:31] tsl143 commented on #68
@tmm2018, can you please elaborate this a bit more :)

[2017-11-11 17:31] tsl143 commented on #67
@tmm2018, can you please elaborate this a bit more :)

[2017-11-11 18:27] tmm2018 opened #70 "propose to github monetizing its content and paying people"
#### propose to github monetizing its content and paying people

**the idea would be monetizing content in github, and paying people in function of:**
- *the games would be monetized with ads, all the content would be free, and people would be paid in function of their amount and quality of contributions, instead of visualizations and usage of their content*
- *this would be automatically evaluate

[2017-11-11 18:58] tsl143 commented on #70
@tmm2018, This repository is for collecting ideas on which addons can be built, I am not sure if this qualifies for any addon.
Please feel free to reopen , if otherwise

[2017-11-11 18:58] #70 closed

[2017-11-11 21:35] tmm2018 opened #71 "motivational quotes"
#### motivational quotes

**you can get them pretty much everywhere, but it would be awesome, if we could, within sense:**
- *implement an extension that tracks your browser history locally, and pop ups a motivational quote once in a while, based upon that, specially when you open a new tab or window*

[2017-11-12 18:55] tmm2018 opened #73 "new concept of social media website"
## new concept of social media website

- ***a website, where pro-active attitude towards community, and collaboration is valued***
- ***a website, where the quality and amount of content posted is value and directly paid to the people posting those, without them to have to inject money in the plattform (the content is valued in any form of currency, people get paid not for the amount of views the

[2017-11-14 13:54] tmm2018 opened #74 "creating an extension for trading bitcoin automatically"
## creating an extension for trading bitcoin automatically

<sub>**creating an extension for trading bitcoin automatically, and commiting them to a safe pool of bitcoin, using:**</sub>
- <sub>*https://github.com/carlos8f/zenbot*</sub>

[2017-12-09 15:23] Mte90 opened #75 "Oblique Strategies random words"
Using http://brianeno.needsyourhelp.org/all for https://en.wikipedia.org/wiki/Oblique_Strategies

Maybe a random alert from contextmenu can be an idea

[2018-01-06 13:58] iamVP7 opened #76 "QuickWikiEditor Add-on used by Wiki Community widely"
https://addons.mozilla.org/en-US/firefox/addon/quickwikieditor/

[2018-01-07 12:54] iamVP7 opened #77 "Self-Destructing Cookies"
https://addons.mozilla.org/en-US/firefox/addon/self-destructing-cookies/

The developer has mentioned this comment.

So we community members can try porting, some features to WebExtension.

[2018-01-08 18:06] iamVP7 opened #78 "All-in-One Sidebar"
https://addons.mozilla.org/en-US/firefox/addon/all-in-one-sidebar/

[2018-01-08 18:26] iamVP7 opened #79 "Tab Groups"
https://addons.mozilla.org/en-US/firefox/addon/tab-groups-panorama/

Developer told no updates will come.  We can fork the code and use it.
https://github.com/Quicksaver/Tab-Groups

[2018-01-08 18:35] iamVP7 opened #80 "colorPicker"
https://addons.mozilla.org/en-US/firefox/addon/colorpicker/

[2018-01-09 08:38] drashti4 opened #81 "CheckYourTrack - mail tracking tool"
https://addons.mozilla.org/en-US/firefox/addon/checkyourtrack-mail-tracking-t/

[2018-01-09 09:50] tsl143 commented on #80
@iamVP7 , I am shocked, previously there was an eyedropper tool in Firefox, that does same thing as this, I think it has been removed already, but no where mentioned - https://developer.mozilla.org/en-US/docs/Tools/Eyedropper

[2018-01-09 10:54] tsl143 commented on #80
I found that :)
So this is default Firefox tool now. Please find it in attached screenshot. Use it to get colors from any page.

![screen shot 2018-01-09 at 4](https://user-images.githubusercontent.com/5318732/34717541-738924a6-f559-11e7-8987-5d6d2d20500e.png)

[2018-01-09 10:54] #80 closed

[2018-01-09 13:56] iamVP7 commented on #80
I thought this add-on should be ported. Think of the first time Front end developer (who has not touched dev tools), for him / her if this add-on is there then he can clock on browserAction icon, and click on page so he gets the hex code.

[2018-01-10 09:02] NilimaC04 opened #82 "Create "nagios" and "addon bar" addons for Firefox Quantum."
As both of them are very usefull add-ons.
The Addon Bar: Gives you a place to put all your add-on buttons without over-crowding the navigation bar.
Nagios Checker: The statusbar indicator of the events from the network monitoring system.

[2018-01-14 19:37] ghost commented on #69
<sub>**what i mean is to create a plattform that allows people collaboratively in an opensource fashion, in regard to game development. this includes the following:**</sub>
- <sub>_sharing source code_</sub>
- <sub>_sharing assets_</sub>
- <sub>_sharing projects_</sub>
- <sub>_collaborating in the predeceasing endeavours_</sub>

<sub>**the plattform should allow to:**</sub>
- <sub>_creating conten

[2018-01-14 19:42] ghost commented on #68
<sub>**what i mean is to create a plattform that allows people collaboratively in an opensource fashion, in regard to game development. this includes the following:**</sub>
- <sub>_sharing project files related to their creative work_</sub>
- <sub>_collaborate within developing such content_</sub>

<sub>**the plattform should allow to:**</sub>
- <sub>_monetize that content_</sub>
- <sub>_sell thei

[2018-01-14 19:46] ghost commented on #67
<sub>**what i mean is to create a plattform that allows people collaboratively in an opensource fashion, in regard to game development. this includes the following:**</sub>
- <sub>_sharing project files related to their work_</sub>
- <sub>_collaborating in the process of creating libraries of sounds, plus catalogues of music which they could share, remix, etc._</sub>
- <sub>_showcasing work, like

[2018-01-26 11:15] iamVP7 commented on #82
@NilimaC04  it will be helpful if you can share the legacy addons link if you have anything in your mind.

[2018-01-26 11:15] iamVP7 opened #83 "FxIF"
Port https://addons.mozilla.org/en-US/firefox/addon/fxif/

[2018-01-26 12:41] iamVP7 opened #84 "Easy Copy"
https://addons.mozilla.org/en-US/firefox/addon/easy-copy/

[2018-03-13 00:25] leinadlime commented on #69
nice idea! how do you think this fits into firefox-addons though?
maybe firefox as IDE combined with an AFrame-UI?

isn't it a bit similiar like unity with an marketplace, but with a blockchain attached?
(i see and appreciate your ideallistic world view very much - just asking!)

[2018-03-21 19:07] caitmuenster opened #85 "Dynamic Theme Based on Weather"
It would be really cool to have a dynamic theme that changes based on the weather.

[2018-03-23 12:55] nt1m commented on #85
Wish granted: https://addons.mozilla.org/en-US/firefox/addon/weatherlicious/

[2018-03-23 15:19] caitmuenster commented on #85
![yes-pumpedup](https://user-images.githubusercontent.com/23342476/37837595-d94c1850-2e72-11e8-8298-6bc2a548e4a7.gif)

Would you be interested in entering this or another extension in the Firefox Quantum Extensions Challenge? https://extensionschallenge.com/

[2018-03-23 16:33] #85 closed

[2018-03-24 00:42] nt1m commented on #85
@caitmuenster Done :)

[2018-03-26 17:57] caitmuenster opened #86 "Dynamic theme for changing locations"
It might be fun to have a dynamic theme that changes when the user changes locations.

[2018-04-07 11:52] benoitrolland opened #87 "WhereUsedBookmarks"
In the bookmark sidebar, bookmarks search results are provided as a list
with no information about its location in the tree,
despite it is likely usefull to access siblings of bookmarks founds.

I see several possible implementations:
- unfold result with all parent folders,
- unfold on specific right-click context menu "whereUsed"
- reload the full bookmark view, still selecting the bookmark from

[2018-04-10 16:13] angrymarker commented on #77
https://addons.mozilla.org/en-US/firefox/addon/self-destructing-cookies-webex/

[2018-07-21 10:09] nabendu82 commented on #71
Created the basic version. https://addons.mozilla.org/en-US/firefox/addon/devmotivations/

[2018-10-27 11:11] srikanthlogic opened #88 "Wikimedia Input Tools"
Update legacy addon https://addons.mozilla.org/en-US/firefox/addon/wikimedia-input-tools/

https://github.com/pravee-n/jquery.ime-firefox-extension

[2019-01-04 07:46] iamVP7 opened #89 "MozillaIN Privacy campaign tip1"
Tip #1: Here’s a nice trick: While registering for a website use email like YourName+Websitename.com@gmail.com it will send emails to your inbox YourName@gmail.com but will tell you which website shared your data. You are welcome :) #privacymonth #advocate4privacy #PrivacyMatters

[2019-02-18 01:28] jyotsna17gupta opened #90 "SSleuth"
Port: https://addons.mozilla.org/en-US/firefox/addon/ssleuth/

[2019-02-18 01:49] jyotsna17gupta opened #91 "Certificate Patrol"
Port: https://addons.mozilla.org/en-US/firefox/addon/certificate-patrol/

[2019-02-18 01:55] jyotsna17gupta opened #92 "RequestPolicy Continued"
Port: https://addons.mozilla.org/en-US/firefox/addon/requestpolicy-continued/

[2022-08-26 13:25] #75 closed

[2022-08-26 13:25] #21 closed

[2022-08-26 13:25] #54 closed

[2022-08-26 13:26] #53 closed

[2022-08-26 13:26] #52 closed